*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fonts-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange{
  color: #FD6E0A;
}

.btn{
  border: none;
  background-color: #FD6E0A;
  border-radius: 5px;
  padding: 18px 35px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
  width:71%;
  /* max-width: ; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
  
}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a{
  font-size: 20px;
  text-decoration: none;
}