*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fonts-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange{
  color: #FD6E0A;
}

.btn{
  border: none;
  background-color: #FD6E0A;
  border-radius: 5px;
  padding: 18px 35px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

header{
    background-color: #FFF8F3;
    background-image: url('images/developer.png'),url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    padding-top: 50px;
}

nav{
  width:71%;
  /* max-width: ; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a{
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}

#banner{
  
  padding: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content{
  max-width: 585px;
  
}

#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  font-weight: 800;
  color:#181818;
  margin-bottom: 20px;
}

#banner .banner-content p{
  font-size: 18px;
  font-weight: normal;
  color:#757575;
  line-height: 30px;
  margin-bottom: 30px;
}

